body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    font-size: 112.5%;
}

h1,
h2,
h3 {
    font-weight: 100;
    font-style: italic;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: darkorchid;
}