* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  font-size: 112.5%;
}

header {
  background-color: lightsteelblue;
  border-radius: 20px;
  margin: 10px 20px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
}

h2 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background: lightskyblue;
  border-radius: 0 0 20px 20px;
  align-items: stretch;
}

a {
  text-decoration: none;
  font-size: 80%;
  border-bottom: 1px dotted;
  color: navy;
}

figcaption {
  font-size: 70%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50%;
  max-width: 80%;
}

li {
  list-style-type: none;
}

.column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 225px;
  padding: 5px;
  margin: auto;
  background: lightsteelblue;
  border-radius: 15px;
}

.interests {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 100%;
  background: lightsteelblue;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  gap: 5px 5px;
}

.interestbuttons {
  display: flex-wrap;
  justify-content: space-evenly;
  background: lightskyblue;
  border-radius: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
}

.contact {
  background: lightsteelblue;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.bio {
  background: lightsteelblue;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.cv {
  background: lightsteelblue;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}
