* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  font-size: 112.5%;
  background-color: #eae7ea;
}

header {
  background-color: #998899;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  grid-area: h;
}

h1 {
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #7a6c7a;
  border-radius: 0 0 5px 5px;
  align-items: stretch;
  grid-area: n;
}

@media (min-width: 600px) {
  nav {
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
}

a {
  text-decoration: none;
  font-size: 80%;
  color: #2d282d;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3em;
  }
}

h2 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  border-radius: 50%;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  img {
    margin-top: 20px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

li {
  list-style-type: none;
}

.navi {
  font-size: 120%;
}

.pictext {
  font-size: 70%;
  text-align: center;
}

@media (min-width: 600px) {
  .pictext {
    font-size: 100%;
  }
}

.interests {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-self: center;
  max-width: 100%;
  background: #ccc3cc;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  gap: 5px 5px;
}

@media (min-width: 600px) {
  .interests {
    width: 100%;
  }

  .b {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.interestbuttons {
  display: flex-wrap;
  justify-content: space-evenly;
  background: #e0dbe0;
  border-radius: 5px;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: auto;
  background: #ccc3cc;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .contact {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .c {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: space-around;
  }
}

.contactlink {
  border-bottom: none;
  padding: 8px;
}

.contactbutton {
  display: block;
  width: 30%;
  height: auto;
  mix-blend-mode: multiply;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .contactbutton {
    width: 60%;
  }
}

.column {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px;
  margin: 5px;
  background: #ccc3cc;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: space-around;
  }
}

.icon-img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.icon-link {
  border-bottom: none;
  padding: 8px;
  mix-blend-mode: multiply;
}

.bio {
  border-radius: 15px;
  margin: auto;
  padding: 15px;
  text-align: justify;
  font-size: 80%;
}

@media (min-width: 600px) {
  .bio {
    width: 100%;
    font-size: 100%;
  }

  .e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.cv {
  border-radius: 15px;
  margin: auto;
  padding: 15px;
  font-size: 80%;
}

@media (min-width: 600px) {
  .cv {
    width: 100%;
    font-size: 100%;
  }

  .f {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.bold {
  font-style: bold;
}

.footer {
  font-size: 60%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
