@import '_base.css';
@import '_utils.css';
@import 'components/page-header.css';
@import '_main-layout.css';

@media (min-width: 600px) {
  nav {
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
}

.cv {
  background: #ccc3cc;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 80%;
}

@media (min-width: 600px) {
  .cv {
    width: 100%;
    font-size: 80%;
  }
}

.footer {
  font-size: 60%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
